@import '../../../../../../styles/variables';

.character-item {
  position: relative;
  margin: 0 0 1.5rem 0;

  .media {

    .media-heading{
      font-size:1.5rem;
    }
    a {
      color: inherit;

    }

    .media-right {
      .frame {
        right: 0;
        left: auto;
      }
    }

  }
  &.right {
    text-align: right;
  }
}
