button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}

input[type=search] {
	border: 1px solid hsla(0,0%,100%,.2);
	background-color: rgba(0,0,0,.2);
	color: $textColor;
}