
.nav-pills {
  & > li {

    &:last-child a {
      margin-right: 0;
    }
    a {
      background-color: $black;
      border-radius: 0px;
      border: 1px solid $white;
      margin-right: 0.5rem;
      color: $white;
    }

    &.active {

      & > a, & > a:focus, & > a:hover {
        background-color: $brown;
      }

    }
    & > a:hover {
      background: $brown;
    }
  }
}
