body,html {
	font-family: 'Titillium Web', 'Arial', sans-serif;
	font-size: 13px;
	color:#000000;
}

h1,.h1 {
	font-size: 1.8rem;
}
h1.special {
	font: 0/0; color: transparent; line-height: 0px;
}
h2,.h2 {
	font-size: 1.4rem;
}
h3,.h3 {
	font-size: 1.3rem;
}
h4,.h4 {
	font-size: 1.2rem;
}
h5,.h5 {
	font-size: 1.1rem;
}
h6,.h6 {
	font-size: 0.9rem;
	line-height: 1rem;
}
p {
	font-size: 1rem;
}

@media screen and (min-width: 360px) {
	body,html {
		font-size: 14px;
	}
}
@media screen and (min-width: 440px) {
	body,html {
		font-size: 16px;
	}
}
@media screen and (min-width: 768px) {
	body,html {
		font-size: 18px;
	}
}