$black: #151515;
$white: #FFF;
$smoke-white: #CCC;
$brown: #260303;
$grey: #282828;

$bold: 700;

$grisfonce:#4e4e4e;
$gris:#999999;
$grisclair:#eeeeee;
$rouge:#e3001b;
$vert:#43B581;
$bleu:#4e68a1;
$bleuclair:#009dc5;
$rose:#e62854;
$orange:#ffa827;
$orange2:#f87c08;
$violet:#a50e78;
$jaune:#f4cd1a;
$mauve:#a96fe8;
$marron:#a77339;
$taupe:#978b7b;
$violetclair:#f2ece0;
$violetfonce:#804996;

$formborder:#cccccc;

$backgroundColor: #2E3136;
$backgroundHeaderColor: #1E2124;
$backgroundBlockColor: #3E4146;
$backgroundSeparatorColor: #3E4146;
$backgroundInputColor: #424549;


$borderInputColor: #686A6E;
$borderColor: #3E4146;

$textColor: hsla(0,0%,100%,.7);
