$bold: 700;

$textColor: rgba( 255,255,255,0.7 );

$white: #fff;
$gray: rgba( 255, 255, 255, 0.4 );

$blue: #82a8e4;
$blueLink: #2e90d6;

$backgroundColor: #2E3136;
$backgroundHeaderColor: #1E2124;
$backgroundBlockColor: #3E4146;
$backgroundSeparatorColor: #3E4146;
$backgroundInputColor: #424549;

$bodyBackground: #333a44;
$bodyColor: #dedfe1;

$borderColor: #3E4146;