$warrior: #C79C6E;
$paladin: #F58CBA;
$hunter: #ABD473;
$rogue: #FFF569;
$priest: #FFF;
$death_knight: #C41F3B;
$shaman: #0070DE;
$mage: #69CCF0;
$warlock: #9482C9;
$monk: #00FF96;
$druid: #FF7D0A;
$demon_hunter: #a330c9;


/* Warrior */
.class-1 {
  color: $warrior
}

/* Paladin */
.class-2 {
  color: $paladin
}

/* Hunter */
.class-3 {
  color: $hunter;
}

/* Rogue */
.class-4 {
  color: $rogue;
}

/* Priest */
.class-5 {
  color: $priest;
}

/* Death Knight */
.class-6 {
  color: $death_knight;
}

/* Shaman */
.class-7 {
  color: $shaman;
}

/* Mage */
.class-8 {
  color: $mage;
}

/* Warlock */
.class-9 {
  color: $warlock;
}

/* Monk */
.class-10 {
  color: $monk;
}

/* Druid */
.class-11 {
  color: $druid;
}

/* Demon hunter */
.class-12 {
  color: $demon_hunter;
}

$alliance:#0078FF;
$horde:#B30000;
/* Alliance */
.faction-0{
  color: $alliance
}

/* Horde */
.faction-1{
  color: $horde
}

/* Heirloom */
.quality-7 { color: rgb(0, 204, 255) }

/* Artifact */
.quality-6 { color: rgb(230, 204, 128) }

/*Legendary*/
.quality-5 { color: rgb(255, 128, 0) }

/* Epic */
.quality-4 { color: rgb(163, 53, 238) }

/* Rare */
.quality-3 { color: rgb(0, 112, 255) }

/* Uncommon */
.quality-2 { color: rgb(30, 255, 0) }

/* Common */
.quality-1 { color: #666 }
