@import 'base';
@import '~normalize.css/normalize';

@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(//fonts.googleapis.com/css?family=Titillium+Web);

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $backgroundColor;
  color: $textColor;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,h2,h3,h4{
  margin:0;
  padding:0;
}

a {
	text-decoration:none;
	color: $textColor;
}

a:hover,a:focus,a:active {
	text-decoration:none;
	color: $textColor;
	outline : none;
}

body.sidebar-open {
  position: fixed;
  width: 100%;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.fa-xl { font-size: 1.4rem; }
