@import '../../../../../../styles/variables';

.character-item-icon {
  width: 49px;
  height: 49px;
  background-image: url('./assets/item-empty-bg.png');

  &.slot-head{
    background-position: 1px 1px;
  }
  &.slot-neck{
    background-position: 1px -46px;
  }
  &.slot-shoulder{
    background-position: 1px -93px;
  }
  &.slot-back,&.slot-chest{
    background-position: 1px -140px;
  }
  &.slot-tabard{
    background-position: 1px -187px;
  }
  &.slot-shirt{
    background-position: 1px -234px;
  }
  &.slot-wrist{
    background-position: 1px -281px;
  }
  &.slot-hands{
    background-position: 1px -328px;
  }
  &.slot-waist{
    background-position: 1px -375px;
  }
  &.slot-legs{
    background-position: 1px -422px;
  }
  &.slot-feet{
    background-position: 1px -469px;
  }
  &.slot-finger1,&.slot-finger2{
    background-position: 1px -516px;
  }
  &.slot-trinket1,&.slot-trinket2{
    background-position: 1px -563px;
  }
  &.slot-mainHand{
    background-position: 1px -610px;
  }
  &.slot-offHand{
    background-position: 1px -657px;
  }
  &.slot-head{
    background-position: 1px 1px;
  }

  img {
    width: 47px;
    height: 47px;
  }
  &:hover {
    text-decoration: none;
    color: $white;
    .frame {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 49px;
    height: 49px;
    background: url(./assets/inventory-slots.png) no-repeat;
  }
  &.quality-0 .frame {
    background-position: -49px 0;
  }
  &.quality-1 .frame {
    background-position: -98px 0;
  }
  &.quality-2 .frame {
    background-position: -147px 0;

  }
  &.quality-3 .frame {
    background-position: -196px 0;

  }
  &.quality-4 .frame {
    background-position: -245px 0;

  }
  &.quality-5 .frame {
    background-position: -294px 0;

  }
  &.quality-6 .frame {
    background-position: -343px 0;

  }
  &.quality-7 .frame {
    background-position: -392px 0;

  }

}
