@import '../../styles/base';

.loading{
  z-index: 10;
  height: 2px;
  background-color: $white;
  position: absolute;
}

.navbar {
  margin-bottom: 0;
  background-color: $black;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $white;

  &.navbar-default .navbar-nav>li>a, .navbar-brand {
    color: $white;
  }
}
