@import '../../styles/variables';

.header {
	header {
		padding: 40px;
		background: rgb( 20,25,33 ); 
		background: -moz-linear-gradient( top, rgba( 20,25,33,1 ) 50%, rgba( 32,42,54,1 ) 100% ); 
		background: -webkit-linear-gradient( top, rgba( 20,25,33,1 ) 50%, rgba( 32,42,54,1 ) 100% ); 
		background: linear-gradient( to bottom, rgba( 20,25,33,1 ) 50%, rgba( 32,42,54,1 ) 100% ); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141921', endColorstr='#202a36',GradientType=0 );
	}

	.background-dark {
		background: rgba( 0,0,0,0.6 );
	}

	.logo {
		font-family: Helvetica, Arial;
		letter-spacing: 15px !important;
		max-width: 635px;
		text-align: center;
		display: block;
		margin: auto;
		width: 100%;
		padding: 30px 30px 20px 30px;
	}

	.menu {
		list-style: none; 
		padding: 0;

		&.horizontal {
			li {
				display: inline-block;
				padding: 0 18px;
				position: relative;
			}
		}

		.active {
			color: $white !important;
		}

		.wide {
			width: 450px;

			li:hover {
				background-color: #333a44 !important;
			}

			li:hover:before {
				background-color: #333a44 !important;
			}
		}

		input {
	    width: 100%;
	    color: $white;
	    border: 1px solid rgba( 255,255,255,0.2 );
	    background: rgba( 0,0,0,0.2 );
	    padding: 8px 8px;
	    margin: 10px 0;
		}

		a {
			color: $gray;

			&:hover {
				color: $blueLink;
				text-decoration: none;
			}
		}

		i {
			&.fa {
				margin-right: 5px;
			}
		}

		ul {
			color: $gray;
			text-align: center;
			list-style: none; 
			padding: 0;

			li {
				position: relative; 
				padding-bottom: 25px !important;

				&:last-child {
					ul {
						left: auto;
						right: 0;

						li {
							&:first-child:before {
								left: auto;
								right: 17px; 
							}
						}
					}
				}

				&:hover {
					ul {
						display: inline-block;
					}
				}
			}

			ul {
				display: none; 
				width: 220px;
				position: absolute;
				top: 30px;
				background: #333a44;
				left: 0;
				border-radius: 5px;

				&.right {
					left: auto;
					right: 0;

					li:first-child:before {
						left: auto;
						right: 17px; 
					}
				}

				li {
					text-align: left;
					width: 100%;
					padding: 10px 25px !important;
					border-bottom: 1px solid rgba( 0,0,0,0.3 );

					&:first-child {

						border-top-left-radius: 5px;
						border-top-right-radius: 5px;

						&:before {
							content: '';
							background: #333a44; 
							display: block; 
							height: 16px; 
							width: 16px; 
							border-radius: 4px;
							position: absolute;
							transform: rotate( 45deg );
							top: -6px;
							left: 17px;
						}
					}

					&:last-child {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
					}

					&:hover {
						background: #318ec5;

						a {
							color: $white;
						}
					}

					&:hover:before {
						background: #318ec5;
					}
				}
			}
		}
	}
}

@media ( max-width: 992px ) {
	.header {
		.menu {
			ul {
				position: relative;
				top: 10px;
			}

			i {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 45px;
			}

			a {
				&.home:before {
					content: 'W';
				}

				span {
					position: absolute;
					left: 45px;
					right: 0;
					bottom: 25px;
					font-size: 9px;
					width: 20px;
					padding: 2px 5px;
				}
			}
		}
	}
}

@media ( max-width: 767px ) {
	.header {
		header {
			padding: 10px;
			display: table;
			width: 100%;

			.menu {
				display: none;
			}

			.col {
				display: table-cell;
				position: relative;
			  padding: 10px;
			  vertical-align: middle;
			}

			.logo {
				max-width: 260px;
			}

			.fa {
				font-size: 18px;
			}
		}
	}
}