@import '../../styles/variables';

.footer {
	box-shadow: inset 0 1px rgba( 0,0,0,0.3 );
	background: rgba( 0,0,0,0.30 );
	color: $white;

	.social-network {
		div {
			position: relative;
			padding: 20px;
		}

		.patreon {
			border-top: 1px solid rgba(255,255,255,0.08);
			background: #e6472e;
		}
	}

	.disclaimer {
		padding: 40px;
		background: rgba( 0,0,0,0.30 );
		color: rgba( 255, 255, 255, 0.4 );

		ul {
			list-style: none;
			padding: 0px 20px 0px 20px;

			a {
				color: rgba( 255, 255, 255, 0.4 );

				&:hover {
					color: $white;
				}
			}
		}
	}
}

@media (max-width: 768px) { 
	.footer {
		.disclaimer {
			ul {
				li {

				}
			}
		}
	}
}